* {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    color: #eeeeee;
    background-color: #f37536;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    padding: 15px 30px;
    cursor: pointer;
}
.header-container {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    text-decoration: none;
}
nav li {
    list-style: none;
    padding: 0px 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;  
    font-weight: 600;  
}
nav li a {
    text-decoration: none;
    color: #454545;
}
.nav-title {
    font-family: 'Poppins', sans-serif;
    font-size:2rem;  
    font-weight: 800;
    color: rgb(37, 37, 37);
}
.banner-container {
    text-align: center;
    margin-top: 50px;
}
.banner-title {
    font-family: 'Poppins', sans-serif;
    font-size:2.8rem;  
    font-weight: 800;
    color: rgb(37, 37, 37);
    margin: 20px;
}
.banner-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 600;
    color: rgb(109, 109, 109);
    margin: 0px 300px 25px;
    line-height: 25px;
}

.banner-img {
    margin-top: 40px;
    width: 100%;
}



main {
    max-width: 1440px;
    margin: 70px auto;
}
.team-container {
    display: flex;
    align-items: center;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content {
    padding: 20px 70px;
}
.team-title {
    font-size: 2rem;
}
.quick-list {
    color: #727272;
    font-weight: 600;
}
.text-feature {
    color: #F37536;
    font-weight: 800;
}
.team-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 600;
    color: rgb(109, 109, 109);
    line-height: 25px;
    padding: 30px 0px;
}

/*Feature Architect style*/

.feature-container {
    margin-top: 100px;
    display: flex;
    gap: 130px;
}
.feature-container .feature-card {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-title {
    color: rgb(37, 37, 37);
    font-size: 2rem;
    font-weight: 800;
    padding-left: 30px;
    margin: 30px 0;
    border-left: 5px solid #F37536;
}
.feature-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 400;
    color: rgb(109, 109, 109);
    line-height: 25px;
    padding: 10px 0px;
}
.feature-card {
    margin: 30px;
}
.feature-card-title {
    color: rgb(37, 37, 37);
    font-size: 1rem;
    font-weight: 600;
}
.feature-card-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 400;
    color: rgb(109, 109, 109);
    line-height: 25px;
    padding: 10px 0px;
}
.badge {
    border-radius: 8px;
    background: #F37536;
    width: 300px;
    text-align: center;
    padding: 45px;
    position: relative;
    bottom: 100px;
    right: 100px;
}
.badge h2 {
    color: #FFF;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.badge p {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

/*Feature Architect style*/

.facts-title {
    font-size: 2rem;
    color: rgb(37, 37, 37);
    margin-top: 100px;
}
.facts-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 600;
    color: rgb(109, 109, 109);
    line-height: 25px;
    padding: 10px 0px;
    margin-bottom: 100px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border: 1px solid #F37536;
    border-radius: 8px;
    text-align: center;
    height: 220px;
    width: 220px;
    padding-top: 30px;
}
.facts-card-container .card-status {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(65, 65, 65);
    margin: 10px 0px;
}
.facts-card-container .card-title {
    font-family: 'Raleway', sans-serif;
    font-size:1rem;  
    font-weight: 600;
    color: rgb(109, 109, 109);
}
 /* sponsors style */
.sponsors-container {
    text-align: center;
}
.sponsors-container .sponsors-title {
    font-size: 2rem;
    color: rgb(37, 37, 37);
    margin-top: 100px;
}
.sponsors-container .sponsors-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 600;
    color: rgb(109, 109, 109);
    line-height: 25px;
    padding: 20px 0px;
    margin-bottom: 50px;
}
.sponsors-img {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.sponsors-img img {
    width: 170px;
}

/* Footer section */

footer {
    background: rgba(255, 144, 14, 0.10);
    margin: 130px 240px 180px;
    padding: 40px 400px;
    font-family: 'Raleway', sans-serif;
    font-size:1rem;  
    font-weight: 400;
    color: rgb(109, 109, 109);
    text-align: center;
    border-radius: 8px;
}
.copyright {
    font-size:1rem;  
    font-weight: 600;
    color: rgba(255, 16, 16, 0.953);
}

/*Responsive style*/

/*Small Mobile device*/

@media screen and (max-width: 576px) {
    .header-container {
        padding: 10px;
    }
    .banner-brief {
        margin: 0;
    }
    .nav-container {
        flex-direction: column;
    }
    nav li {
        padding: 10px; 
    }
    .team-container {
        flex-direction: column-reverse;
    }
    .team-img {
        grid-template-columns: 1fr;
    }
    .team-content {
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }
    .facts-title, .facts-brief {
        text-align: center;
    }
    .facts-card-container {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .sponsors-img {
        flex-direction: column;
        align-items: center;
    }
    footer {
        margin: 30px 10px;
        padding: 10px;
    }
    .feature-container {
        flex-direction: column;
        padding: 0 25px;
    }
    .feature-img img {
        width: 70vw;
        padding-left: 50px;
    }
    .badge {
        width: 150px;
        text-align: center;
        position: relative;
        right: 20px;
        bottom: 80px;
        margin-left: 10px;
    }
    .badge h2 {
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .badge p {
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-size: .8rem;
        font-weight: 400;
    }
}
/*Mediam Mobile or tablet device*/

@media screen and (min-width: 576px) and (max-width: 960px) {
    .header-container {
        padding: 30px 20px;
    }
    .banner-brief {
        margin: 20px;
    }
    .nav-container {
        flex-direction: column;
    }
    nav li {
        padding: 10px 20px; 
    }
    .team-container {
        flex-direction: column-reverse;
    }
    .team-content {
        text-align: center;
        padding: 20px;
    }
    .team-img {
        grid-template-columns: (2, 1fr);
        gap: 20px;
    }
    .facts-brief {
        padding-right: 100px;
        padding-left: 100px;  
    }
    .facts-card-container {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .facts {
        margin: 50px auto;
        text-align: center;
    }
    .sponsors-img img {
        width: 120px;
    }
    footer {
        margin: 30px 20px;
        padding: 20px 10px;
    }
}