* {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    color: #eeeeee;
    background-color: #f37536;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: 0;
    padding: 15px 30px;
    cursor: pointer;
}
.header-container {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    text-decoration: none;
}
nav li {
    list-style: none;
    padding: 0px 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;  
    font-weight: 600;  
}
nav li a {
    text-decoration: none;
    color: #454545;
}
.nav-title {
    font-family: 'Poppins', sans-serif;
    font-size:2rem;  
    font-weight: 800;
    color: rgb(37, 37, 37);
}
.banner-container {
    text-align: center;
    margin-top: 50px;
}
.banner-title {
    font-family: 'Poppins', sans-serif;
    font-size:2.8rem;  
    font-weight: 800;
    color: rgb(37, 37, 37);
    margin: 20px;
}
.banner-brief {
    font-family: 'Raleway', sans-serif;
    font-size:.8rem;  
    font-weight: 600;
    color: rgb(109, 109, 109);
    margin: 0px 300px 0px;
    line-height: 25px;
    margin-bottom: 25px;
}

.banner-img {
    margin-top: 40px;
    width: 100%;
}

/*Responsive style*/

/*Small Mobile device*/

@media screen and (max-width: 576px) {
    .header-container {
        padding: 10px;
    }
    .banner-brief {
        margin: 0;
    }
    .nav-container {
        flex-direction: column;

    }
    nav li {
        padding: 10px; 
    }
}
/*Mediam Mobile or tablet device*/

@media screen and (min-width: 576px) and (max-width: 960px) {
    .header-container {
        padding: 30px 20px;
    }
    .banner-brief {
        margin: 20px;
    }
    .nav-container {
        flex-direction: column;
    }
    nav li {
        padding: 10px 20px; 
    }
}

main {
    max-width: 1440px;
    margin: 0px auto;
}
.team-container {
    display: flex;
    align-items: center;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content {
    padding: 0px 70px;
}
.team-title {
    font-size: 2rem;
}
.quick-list {
    color: #727272;
    font-weight: 600;
}
.text-feature {
    color: #F37536;
    font-weight: 800;
}
